.title {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

li {
  list-style-type: none;
}

li > button {
  height: 50px;
  width: 150px;
}
