.title {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

li {
  list-style-type: none;
}

li > button {
  height: 50px;
  width: 150px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 2px solid purple;
  position: relative;
}
